.jumbotron{
    background-color:white;
    color:#B22222
}

a{
    color:#B22222;
}
nav{
    display: inline;
    padding: 0px;
}
header{
    padding: 0%;
}
#alinharLogin{
    position: relative;
    margin-left: auto;
    margin-top: 3.6%;
    float:right;
}
#botaoCinza{
    background-color:#FF6347;
}
header{
    margin: 0px;
    padding: 0px;
    height: 400px;
    width: 100%;
}

#inputLogin{
    margin-bottom: 2%;
}
